/**
 * Exercises Styles
 *
 * @author Rogier van der Linde <rogier.vanderlinde@odisee.be>
 *
 * dit bestand NIET aanpassen!
 *
 */

#ex4 .demo {
	.buttons {
		justify-items: start;
		display: grid;
		gap: 15px;
		grid-template-columns: auto auto;
		width: fit-content;
	}
}

#ex7 .demo {
	max-width: 400px;
}

#ex9 .demo {
	max-width: 700px;
	* {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-size: 18px;
		font-weight: normal;
	}
	header {
		align-items: center;
		background-color: #a5a28e;
		display: flex;
		justify-content: space-between;
		padding: 10px;
	}

	footer {
		background-color: #a5a28e;
		font-size: 10px;
		padding: 10px;
		text-align: center;
	}
	nav ul {
		display: flex;
		gap: 10px;
		list-style: none;
	}
	.button {
		background-color: #876e37;
		font-size: 12px;
		padding: 5px 10px;	
	}
	nav a {
		text-decoration: none;
	}
	nav a.active {
		text-decoration: underline;
	}
	.product {
		align-items: start;
		background-color: #eee;
		border-radius: 3px;;
		display: flex;
		gap: 10px;
		margin-bottom: 1em;
		padding: 5px;
		padding-right: 10px;
		img {
			width: 120px;
		}
		width: fit-content;
	}
}

#ex10 .demo {
	p {
		font-size: 14px;
		margin: 0.5em 0;
	}
} 

#ex11 .demo {
	p {
		font-size: 14px;
		margin: 0.5em 0;
	}
} 

#ex12 .demo {
	form {
		display: grid;
		gap: 10px;
		grid-template-columns: 100px 1fr;
		max-width: 500px;
	}
	input, button {
		padding: 3px 5px;
	}
	.buttons {
		align-self: center;
		display: grid;
		gap: 15px;
		grid-column: span 2;
		grid-template-columns: auto auto;
		justify-items: start;
		justify-self: end;
		width: fit-content;
	}
}

#ex15 .demo {
	.more {
		font-size: smaller;
		text-decoration: none;
	}
}

#ex16 .demo {
	max-width: 600px;
}

#ex17 .demo {
	max-width: 760px;
	header, footer {
		background: #a5a28e;
		padding: 12px;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
	}
	header p {
		font-size: 12px;
		font-style: italic;
	}
	header .logo {
		font-size: 18px;
		font-weight: normal;
	}
	nav ul {
		list-style: none;
		display: flex;
		gap: 10px;
	}
	nav a {
		color: white;
		text-decoration: none;
		font-size: 12px;
	}

	#maincontent {
		padding: 12px 0;
	}
	#maincontent a {
		text-decoration: none;
	}
	#maincontent a:hover {
		text-decoration: underline;
	}
	.card {
		background: #eee;
		border-radius: 6px;
		padding: 10px 20px;
	}
	.card + .card {
		margin-top: 12px;
	}
	.card h3 {
		margin-bottom: 6px;
	}
	footer {
		font-size: 10px;
		text-align: center;
	}
	footer ul {
		list-style: none;
		display: flex;
		justify-content: center;
	}
	footer a {
		color: #111;
		text-decoration: none;
	}
}